fastapi==0.115.0
sqlmodel==0.0.22
asyncpg==0.30.0
pgvector==0.2.5
uvicorn==0.32.0
python-multipart==0.0.20
pydantic-settings==2.7.0
alembic==1.13.3
sqlalchemy==2.0.36
python-dotenv==1.0.1
python-docx==1.1.2
transformers==4.45.2
torch==2.5.1
huggingface-hub==0.26.2
sentence-transformers==3.1.1
python-jose[cryptography]==3.3.0
bcrypt==4.0.1